<a href="https://colab.research.google.com/github/pollianasilva/Soulcode/blob/main/Introdu%C3%A7%C3%A3o_ao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução ao Python**

Escola: SoulCode Academy

Curso: Analista de Dados e Dashboards

Período: Noturno

Assunto: Introdução ao Python

Professor: Franciane Rodrigues

Aluna: Polliana Silva

## **Comentários e tipos básicos de dados**

In [ ]:
print('Olá, mundo') # Usando aspas simples
print("Olá, mundo") # Usando aspas duplas

Olá, mundo
Olá, mundo

In [ ]:
# Isso aqui é um comentário

In [ ]:
'''
Isso
é um comentário
longo ou grande
'''

'\nIsso\né um comentário\nlongo ou grande\n'

In [ ]:
"""Isso aqui é um comentário"""

'Isso aqui é um comentário'

In [ ]:
# Isso é
# um
# comentário

In [ ]:
# Vamos escrever nossos dados pessoais e imprimir na tela
print(34)           # int - numerica/quantitativa
print(1.65)         # float - numérica / quantitativa
print('Franciane')  # str (string) - valor que envolve escrita/caracteres - qualitativas/categóricas
print("Rodrigues")  # str (string) - valor que envolve escrita/caracteres - qualitativo/categóricas
print(False)        # bool - boleanas - qualitativas/categóricas.

34
1.65
Franciane
Rodrigues
False

## **Variáveis**

In [ ]:
# Declarando variáveis
idade = 34
altura = 1.65
nome = 'Franciane'
sobrenome = "Rodrigues"
filhos = False

In [ ]:
# Imprimindo na tela
print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

34
1.65
Franciane
Rodrigues
False

In [ ]:
# Imprimindo na tela: modo 2
print(idade, altura, nome, sobrenome, filhos, sep=', ')

34, 1.65, Franciane, Rodrigues, False

In [ ]:
# Checando o tipo de dado
type(idade)

int

In [ ]:
# Checando o tipo de dado guardado em cada variável
print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
# Armazenando string e números
nome_completo = 'Franciane Rodrigues'
numero_fav = '34'

In [ ]:
#Checando o tipo de variável
print(type(nome_completo))
print(type(numero_fav))

<class 'str'>
<class 'str'>

In [ ]:
# Atenção: o python é sensivel as letras maiusculas e minusculas
nome = 'Franciane'
print(nome)

Franciane

In [ ]:
# Chamando variável com letra minuscula
print(Nome)

NameError: name 'Nome' is not defined

## **Operadores Matemáticos**

In [ ]:
# Operador de adição
n1 = 5.887
n2 = 7.15
soma = n1 + n2

In [ ]:
# Modos de apresentação de resultados: adição
print(soma)
print('A soma é: ', soma)
print(f'A soma dos números é: {soma:.2f}')
print(n1 + n2)
n1 + n2

13.036999999999999
A soma é:  13.036999999999999
A soma dos números é: 13.04
13.036999999999999

13.036999999999999

In [ ]:
# Operador de subtração
a1 = 154.587
a2 = 10.548
sub = a1 - a2

In [ ]:
# Modos de apresentação de resultados: subtração
print(sub)
print('A subtração é: ', sub)
print(f'A subtração dos números é: {sub:.2f}')
print(a1 - a2)
a1 - a2

144.039
A subtração é:  144.039
A subtração dos números é: 144.04
144.039

144.039

In [ ]:
# Operador de multiplicação
b1 = 3.57
multi = b1 * 3
print('A multiplicação é: ', round(multi,2))

A multiplicação é:  10.71

In [ ]:
# Respondendo a perguntinha: Sim
print((2 + 2)*(2 + 2))

16

In [ ]:
# Operador de divisão
x1 = 3
x2 = 2
div = x1/x2

# Imprimindo na tela
print(div)
print(f'A divisão dos números é: {div:.2f}')

1.5
A divisão dos números é: 1.50

In [ ]:
# Resto da Divisão
rdiv = 10 % 3
print(rdiv)

1

In [ ]:
# Parte inteira da divisão
idiv = 10 // 3
print(f'A parte inteira da divisão 10 por 3 é : {idiv}')

A parte inteira da divisão 10 por 3 é : 3

In [ ]:
# Operador de potenciação
pot = 3 ** 2 # três ao quadrado
print(pot)

9

In [ ]:
# Outro exemplo
pow(3,2)

9

In [ ]:
# Radiciação
import math

In [ ]:
# Calculando raiz quadrada de 144
math.sqrt(144)

12.0

In [ ]:
# sugestão
d = math.sqrt(144)
d = int(d)
d

12

## **Operadores de Comparação (Booleanos)**

In [ ]:
# (==) verifica se dois valores são iguais (retornar como resposta True ou False)
a = 3
b = 3.0
teste1 = a == b
print(teste1)

True

In [ ]:
# As comparações podem ser feitas com variáveis do tipo String
teste2 = 'fran' == 'Fran'
print(teste2)

False

In [ ]:
# (!=) verifica se dois valores são diferentes (retornar True ou False)
a = 3
b = 3.0
teste3 = a != b
print(teste3)

False

In [ ]:
# (>) verifica se um valor é maior que o outro
teste4 = 3 > 2
print(teste4)

True

In [ ]:
# (>=) verifica se um valor é maior ou igual ao outro
teste5 = 3 >= 3
print(teste5)

True

In [ ]:
# (<) verifica se um valor é menor que o outro
teste6 = 2 < 2
print(teste6)

False

In [ ]:
# (<=) verifica se um valor é menor ou igual ao outro
teste7 = 2 <= 2
print(teste7)

True

## **Operadores de Atribuição**

In [ ]:
# (=) atribuição direta: atribui ao lado esquerdo do sinal um valor a variável
nome = 'fran'
peso = 51
altura = 1.65

In [ ]:
# (+=) atribuição de soma: equivale a x = x + y
# Exemplo: crie uma variável t que receba o numero inteiro 3 e depois
# some 1 para essa variável

t = 3       # crie uma variável t
t = t + 1   # depois some 1 para essa variável:
print('O resultado de t + 1 é: ', t)

O resultado de t + 1 é:  4

In [ ]:
# Outra forma que também resolve problema
t = 3
t = 3 + 1
print(t)

4

In [ ]:
# modo usando operador de atribuição soma
t = 3
t += 1
print(t)

4

In [ ]:
# (-=) atribuição de subtração
# Exemplo: crie uma variável z que receba o numero inteiro 5 e
# depois diminua 2 para essa variável

z = 5
z = z - 2
print(z)

3

In [ ]:
# Outro modo que resolve o problema
z = 5
z = 5 - 2
print(z)

3

In [ ]:
# modo usando operador de atribuição de subtração
z = 5
z -= 2
print(z)

3

In [ ]:
# (*=) atribuição de multiplicação
# Crie uma variável j que receba o numero 5
# e depois multiplique este numero por 2

j = 5
j = j * 2
print(j)

10

In [ ]:
# modo sugerido
j = 5
j = 5 * 2
print(j)

10

In [ ]:
# modo usando operador de atribuição de multiplicação
j = 5
j *= 2
print(j)

10

In [ ]:
# (%=) atribuição de resto da divisão
# Exemplo: crie uma variável b que receba o numero 7 e depois
# receba o resto da divisão dela por 2.

b = 7
b = b % 2
print(b)

1

In [ ]:
# usando modo de atribuição de resto da divisão
b = 7
b %= 2
print(b)

1

## **Operadores Lógicos**

In [ ]:
# (and) retorna verdadeiro somente se TODAS as condições de uma
# comparação forem satisfeitas

teste8 = 3 >= 2 and 3 !=2 and 3 < 4 # V and V and V
print(teste8)

True

In [ ]:
# (&) é o mesmo que 'and'. Retorna retorna verdadeiro somente se
# TODAS as condições de uma comparação forem satisfeitas

teste9 = (3 >= 2) & (3 != 2) & (3 < 4)
print(teste9)

True

In [ ]:
# (or) Retorna verdadeiro se PELO MENOS UM dos elementos das condições
# for verdadeiro

teste10 = 3 >= 2 or 3 == 2 or 3 > 4 # v or f or f
print(teste10)

True

In [ ]:
teste11 = 1 >= 2 or 3 == 2 or 3 > 4 # f or f or f
print(teste11)

False

In [ ]:
# (|) é a mesma coisa que o OR. Retorna verdadeiro se PELO MENOS UM dos elementos
# das condições for verdadeiro

teste12 = (3 >= 2) | (3 == 2) | (3 > 4) # v or f or f
print(teste12)

True

## **Conversão de variáveis**

In [ ]:
# Conversão de int para float
num_int = 10
num_float = float(num_int)

In [ ]:
# Checando a conversão
print(type(num_int))
print(type(num_float))

<class 'int'>
<class 'float'>

In [ ]:
# Checando se transformamos de 10 para 10.0
print(num_float)

10.0

In [ ]:
# Conversão de int para string
num_int = 10
num_str = str(num_int)

In [ ]:
# Checando a conversão
print(type(num_int))
print(type(num_str))

<class 'int'>
<class 'str'>

In [ ]:
# Checando se transformamos de 10 para '10'
print(num_str)

10

In [ ]:
# Conversão de float para int
num_float = 10.5
num_int = int(num_float)

In [ ]:
# Checando a conversão
print(type(num_float))
print(type(num_int))

<class 'float'>
<class 'int'>

In [ ]:
# Checando se transformamos
print(num_int)

10

## **Coletando informações do usuário**

In [ ]:
# Coletando informações do usuário com input
nome = input('Digite seu nome: ')
print('O nome digitado é: ', nome)

In [ ]:
# Coletando informações numéricas do usuário com input
idade = int(input('Informe sua idade: '))
print('A idade digitado é: ', idade)

In [ ]:
# Coletando informações numéricas do usuário com input
peso = int(input('Informe seu peso: '))
print('O peso digitado é: ', peso, 'kg')

In [ ]:
# Coletando informações numéricas do usuário com input
altura = float(input('Informe sua altura: '))
print('Sua altura é: ', altura, 'metros')

In [ ]:
# Crie um código que calcule o IMC  e imprima o resultado na tela.
nome = input('Digite seu nome: ')
peso = int(input('Informe seu peso: '))
altura = float(input('Informe sua altura: '))

# calculando o IMC
imc = peso / altura ** 2

# Imprimindo na tela
print(f'{nome}, seu imc é: {imc:.2f}')

In [ ]:
# Outra forma de escrever o resultado
print(nome , ', seu imc é:',  round(imc,2))
print(nome + ', seu imc é:', imc)
print(nome + ', seu imc é:' + str(imc)) # concatenação de strings

## **String - Encontrando um caracter pelo índice**

In [ ]:
# Definindo uma string
nome = 'Franciane'

In [ ]:
# Exemplo: Imprima na tela o primeiro caracter da String

nome[0] # Sintaxe básica de localização de caracter

print('O primeiro caracter da string é: ', nome[0])

In [ ]:
# Exemplo: Imprima na tela o último caracter da string
print(nome[8])
print(nome[-1]) # Recomendado

In [ ]:
# Exemplo: Imprima na tela o terceiro carater da string
print(nome[2]) # => a

# Exemplo: Imprima na tela o quinto caracter da string
print(nome[4]) # => c

In [ ]:
# Atividade em 10 minutos: 20:50
# Ex.1 Definindo uma string sendo esta o seu nome
# Ex.2 Imprima na tela o primeiro caracter do seu nome (normal e reverso)
# Ex.3 Imprima na tela o último caracter do seu nome (normal e reverso)
# Ex.4 Imprima na tela o terceiro caracter do seu nome (normal e reverso)

In [ ]:
# Vamos fazer um fatiamento da nossa string (slicing)
nome = 'FRANCIANE'

# F   R   A   N   C    I   A   N   E
# 0   1   2   3   4    5   6   7   8   # Pensamento computacional Python
# 1°  2°  3°  4°  5°   6°  7°  8°  9°  # Pensamento matematico Nosso

In [ ]:
# Imprima na tela a sequencia do segundo ao quinto caracter
# RANC
nome[1:5] # Sintaxe

In [ ]:
# Imprima na tela a sequencia do primeiro até o quinto caracter
nome[0:5]

In [ ]:
# Exemplo da Ana Carol
nome = 'Ana Carol'

# Imprima na tela até a terceira posição do Python da string nome
nome[0:4]

# Aprendemos que espaços contam como caracter!

## **Métodos de Strings**

In [ ]:
# Sinal de (+) para concatenar (juntar) string
nome = 'Franciane'
sobrenome = 'Rodrigues'
print(nome +' '+ sobrenome)

In [ ]:
# (len) Método que conta o número de caracteres de uma string
nome = 'Franciane'
contagem = len(nome)
print(nome, 'tem', contagem, 'caracteres')

In [ ]:
# (len) Método que conta o número de caracteres de uma string
# Obs.: Espaços são contabilizados
nome = ' Franciane '
contagem = len(nome)
print(nome, 'tem', contagem, 'caracteres')

In [ ]:
# (strip) Método que elimina caracteres indesejados de uma string
# no inicio e no fim
nome = nome.strip()

# Checando se o método foi aplicado
print(len(nome))

In [ ]:
# (replace) Método que substitui um caracter por outro
preco = 'R$ 10,50'
print(preco)

In [ ]:
# Aplicando o método replace na variável preco
preço = preco.replace(',' , '.')

In [ ]:
# Checando a aplicação do método
print(preco)

In [ ]:
# Coloque seu nome
nome = input('Informe seu nome: ')
print('O nome digitado é: ', nome)

In [ ]:
# (capitalize) Método para deixar a primeira letra maiuscula
nome = nome.capitalize()
nome

In [ ]:
# (upper) Método que coloca todas as letrinhas maiusculas (gritando)
nome = nome.upper()
nome

In [ ]:
# (casefold) Método que coloca todas as letrinhas minusculas (falando baixinho)
nome = nome.casefold()
nome

In [ ]:
# (title) Coloca a primeira letra de cada palavra em maiúscula
comp = 'ana carolina'
print(comp)

ana carolina

In [ ]:
# Aplicando o metodo title
comp = comp.title()
print(comp)

Ana Carolina

## **Estrutura de Condição: IF, ELSE, ELIF**

Instrução IF

* A instrução "if" é usada para executar um bloco de código se uma determiada condição for verdadeira. A seguinte sintaxe geral é a seguinte:

In [ ]:
'''
if condição:
    # bloco de código a ser executado
'''

In [ ]:
# Informar a variável
idade = 19

# Realizar a condição
if idade >= 18:
    print('Você é maior de idade')

Você é maior de idade

In [ ]:
# Informar a variável
idade = 18

# Realizar a condição
if idade >= 18:
    print('Você é maior de idade')

Você é maior de idade

In [ ]:
# Informar a variável
idade = 17

# Realizar a condição
if idade >= 18:
    print('Você é maior de idade')

In [ ]:
# Informar a variável
clima = 'ensolarado'

# Vamos verificar se o clima é igual a ensolarado
if clima == 'ensolarado': # para facilitar leia os dois pontos como "então".
    print('É um bom dia para ir na pracinha')

É um bom dia para ir na pracinha

In [ ]:
# Informar a variável
clima = input('Digite o clima atual: ')

# Vamos verificar se o clima é igual a ensolarado
if clima == 'ensolarado': # para facilitar leia os dois pontos como "então".
    print('É um bom dia para ir na pracinha')

Digite o clima atual: ENSOLARADO

In [ ]:
# Informar a variável
clima = input('Digite o clima atual: ')

# Vamos verificar se o clima é igual a ensolarado
if clima.lower() == 'ensolarado': # para facilitar leia os dois pontos como "então".
    print('É um bom dia para ir na pracinha')

Digite o clima atual: Ensolarado
É um bom dia para ir na pracinha

Instrução "else"

* A instrução "else" é usada em conjunto com a instrução "if"  e especifica um bloco de código a ser executado se a condição do "if" for falsa. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição:
    # bloco de código a ser executado se a condição for verdadeira;
else:
    # bloco de código a ser executado se a condição for falsa;
'''

In [ ]:
# Entrada de dados
idade = int(input('Digite sua idade: '))

# Decisão
if idade >= 18:
    print('Você é maior de idade!')

else: # leia "else" como "se não"
    print('Você é menor de idade!')

Digite sua idade: 34
Você é maior de idade!

In [ ]:
# Exemplo: Escreva um pequeno código que decida se um numero
# é positivo ou negativo

numero = float(input('Escreva um número: '))

# Verificar se o numero informado é positivo ou negativo

if numero > 0:
    print('O número informado é positivo')
else:
    print('O número informado é negativo')

Escreva um número: 0
O número informado é negativo

Instrução "elif" (meio termo)

* A instrução "elif" é um abreviação de "else if" (senão se) e permite testar multiplas condições em sequencia. Ela é usada quando há mais de duas possibilidades a serem consideradas. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição1:
    # bloco de código a ser executado se a condição1 for verdadeira
elif condição2:
    # bloco de código a ser executado se a condição2 for verdadeira
else:
    # bloco de código a ser executado se nenhuma das condições
    # anteriores forem verdadeiras
'''

Exemplo: Faça um algoritmo que avalie a nota do aluno:

* se ele tirou igual ou acima de 90, seu conceito é A;
* se ele tirou igual ou acima de 80, seu conceito é B;
* se ele tirou igual ou acima de 70, seu conceito é C;
* se ele tirou abaixo de 70, seu conceito é D;

In [ ]:
# Entrada de dados
nota = float(input('Digitar a nota do aluno: '))

# Avaliação e decisão
if nota >= 90 and nota <= 100:
    print('Sua nota é A!')

elif nota >= 80 and nota < 90:
    print('Sua nota é B!')

elif nota >= 70 and nota < 80:
    print('Sua nota é C!')

else:
    print('Sua nota é D!')

# Desafio: conserte o código!

Digitar a nota do aluno: 120
Sua nota é D!

In [ ]:
# Sugestão de solução do desafio - Everton.
# Entrada de dados
nota = float(input('Digitar a nota do aluno: '))

# Avaliação e decisão
if nota >= 90 and nota <= 100:
    print('Seu conceito é A!')
elif nota >= 80 and nota < 90:
    print('Seu conceito é B!')
elif nota >= 70 and nota < 80:
    print('Seu conceito é C!')
elif nota >= 0 and nota < 70:
    print('Seu conceito é D!')
else:
    print('Favor inserir uma nota valida!')

In [ ]:
# Problemas de IMC

# Entradas de dados
nome = input('Digite seu nome: ')
peso = int(input('Informe seu peso: '))
altura = float(input('Informe sua altura: '))

# calculando o IMC  - KPI da área de nutrição
imc = peso / altura ** 2

# Imprimindo na tela
print(f'{nome}, seu IMC é: {imc:.2f}')

# Verificando a classificação do IMC do paciente

if imc <= 0:
    print('Você morreu!')

elif imc > 0 and imc < 18.5:
     print('Você está abaixo do peso.')

elif imc >= 18.5 and imc < 25:
    print('Seu peso está normal.')

elif imc >=25 and imc < 40:
    print('Você está com sobrepeso.')

else:
    print('Você esta obeso')

Digite seu nome: Franciane
Informe seu peso: 0
Informe sua altura: 1.65
Franciane, seu IMC é: 0.00
Você morreu!

## **Estrutura de Condição: IF, ELSE, ELIF aninhado**

Condição aninhada: Este programa em Python solicita a nota e a frequência do aluno em uma disciplina e determina se ele foi aprovado ou reprovado. Se a frequência for igual ou superior a 75% e a nota for igual ou superior a 60, o aluno é aprovado. Caso contrário, ele é reprovado, seja por nota ou por frequência.

In [ ]:
# Entrada de dados
frequencia = int(input('Digite a frequencia do aluno: '))
nota = float(input('Digite a nota do aluno: '))

# Comparação e decisão

if frequencia >=75 and frequencia <= 100:
    if nota >= 60 and nota <= 100:
        print('Aprovado')
    else:
        print('Reprovado por nota')
else:
    print('Reprovado por frequencia')

Digite a frequencia do aluno: 60
Digite a nota do aluno: 30
Reprovado por frequencia

In [ ]:
# Crie um algoritmo que leia a nota de um aluno e verifique se ele passou com média 7

# Crie um algoritmo que leia 5 notas de um aluno e verifique se ele passou com média 7

# Crie um algoritmo que leia 5 notas de 3 alunos e verifique se eles passaram com média 7

# Crie um algoritmo que leia 5 notas de uma escola com 580 alunos e verifique se eles passaram com média 7

# Crie um algoritmo que leia 5 notas de uma universidade que possui 10 mil alunos

Limitações: As estruturas condicionais toma apenas uma decisão, a primeira que é verdadeira. Elas funcionam bem para coisas simples e se você não organizar o código direito, pode causar problemas.

## **Operadores de Associação**

* (in) Retorna verdadeiro se um caracter  ou sequencia de caracteres for encontrado dentro de uma string.

In [ ]:
# Exemplo 1
nome = 'Franciane'
'ane' in nome

True

In [ ]:
# Exemplo 2
nome = 'Franciane'
'Ane' in nome

False

In [ ]:
# Exemplo 3
nome1 = 'Victor Gabriel'
'vic' in nome1

False

In [ ]:
# Exemplo 4
nome = 'Marcos'
'mar' in nome.lower()

True

In [ ]:
# Exemplo 5
nome = input('Digite seu nome: ')
'mar' in nome.lower()

Digite seu nome: MARCOS

True

* (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres **NÃO** for encontrado dentro de uma string

In [ ]:
nome = 'daniela'
teste1 = 'Dani' not in nome
print('Dani não está contido em daniela? ', teste1)

Dani não está contido em daniela?  True

## **Operador Identidade**

* (is) compara se um objeto é igual ao outro em relação ao valor e tipo.

In [ ]:
# Entrada de dados
h = 3
p = 3

# Primeira comparação
teste2 = p == h

# Outra forma de impressão na tela
teste2

True

In [ ]:
# Entrada de dados
h = 3
p = 3

# Segunda comparação
teste3 = p is h # Lê "is" como "é"

# Outra forma de impressão na tela
teste3

True

In [ ]:
# Entrada de dados
h = 3
p = 3.0

# Segunda comparação
teste4 = p == h

# Outra forma de impressão na tela
teste4

True

In [ ]:
# Entrada de dados
h = 3
p = 3.0

# Segunda comparação
teste5 = p is h

# Outra forma de impressão na tela
print(teste5)

print(type(h))
print(type(p))

False
<class 'int'>
<class 'float'>

In [ ]:
# Entrada de dados
h = 'MARIA'
p = 'maria'

# Segunda comparação
teste6 = p is h # lembrando que o python é case sensitive

# Outra forma de impressão na tela
print(teste6)

print(type(h))
print(type(p))

False
<class 'str'>
<class 'str'>

In [ ]:
# Entrada de dados
h = 3.0
p = 3.0

# Segunda comparação
teste7 = p is h

# Outra forma de impressão na tela
print(teste7)

print(type(h))
print(type(p))

False
<class 'float'>
<class 'float'>

In [ ]:
# Ideias do Filipe - trazer informações sobre essa situação.
a = 10.1
b = 10.2
soma = a + b
print(soma)
print(round(soma,1))

20.299999999999997
20.3

* (is not) compara se um objeto é diferente do outro em relação ao valor e tipo.

In [ ]:
# Entrada de dados
h = 3
p = 4

# Segunda comparação
teste8 = h != p

# Outra forma de impressão na tela
teste8

True

In [ ]:
# Entrada de dados
h = 3
p = 4

# Segunda comparação
teste9 = h is not p # is not lê-se "não é"

# Outra forma de impressão na tela
teste9

True

## **Estrutura de Dados - Listas**

In [ ]:
# Uma lista é um objeto que pode ser vazio ou ter varios elementos.
# Podemos localizar elementos dentro da lista através de índices
# como fizemos nas strings,
# inclusive podemos fazer fatiamento se necessário

lista = ['dado1', 'dado2', 'dado3', 'dado4', 'dado5']

# indices     0         1        2        3        4
# reverso    -5        -4       -3       -2       -1

# Qual é o quinto elemento da minha lista de forma direta e inversa?
print(lista[4])
print(lista[-1])

dado5
dado5

In [ ]:
# Vamos criar uma lista real
lista = ['banana', 2.0, True, -2, 34, 'Bel']
lista

['banana', 2.0, True, -2, 34, 'Bel']

In [ ]:
# len(): retorna o tamanho da lista
len(lista)

6

In [ ]:
# Consigo imprimir o tipo dos dados igual fizemos nos exemplos de antes?
print(type(lista))
print(type(lista[0]))

<class 'list'>
<class 'str'>

In [ ]:
# Vamos criar uma lista com input - estamos criando um pequeno banco de dados
alunos = input('Informe os nomes separados por espaços que você deseja cadastrar: ')
nomes = alunos.split()
print(nomes)

Informe os nomes separados por espaços que você deseja cadastrar: Bruno Arthur Carina Felipe Juliana Kleisson Luane Lucas Marcos Vanessa Vinicius
['Bruno', 'Arthur', 'Carina', 'Felipe', 'Juliana', 'Kleisson', 'Luane', 'Lucas', 'Marcos', 'Vanessa', 'Vinicius']

In [ ]:
# len(): retorna o tamanho da lista
len(nomes)

11

In [ ]:
# O 4° nome dessa lista.
print(nomes[3])

# Os nomes do 2º ao 5° nome dessa lista.
print(nomes[1:5])

# O 8° nome da lista
print(nomes[7])

# Os nomes do 7º ao 10° nome dessa lista.
print(nomes[6:10])

Felipe
['Arthur', 'Carina', 'Felipe', 'Juliana']
Lucas
['Luane', 'Lucas', 'Marcos', 'Vanessa']

In [ ]:
# Inserindo valores em uma lista pelo método append
# por padrão o método append vai inserir o elemento sempre na última posição
# mantendo os demais que eventualmente já existam

descarte = []
print(descarte)

descarte.append('bateria')
print(descarte)

descarte.append('mouse')
print(descarte)

descarte.append('cabo para Iphone')
print(descarte)

descarte.append('teclado')
print(descarte)

[]
['bateria']
['bateria', 'mouse']
['bateria', 'mouse', 'cabo para Iphone']
['bateria', 'mouse', 'cabo para Iphone', 'teclado']

In [ ]:
# Método insert() insere um valor em qualquer lugar da lista
descarte.insert(3, 'iphone')
print(descarte)

['bateria', 'mouse', 'cabo para Iphone', 'iphone', 'teclado']

In [ ]:
# Método remove() - remove o elemento que está dentro do parênteses
descarte.remove('iphone')
print(descarte)

['bateria', 'mouse', 'cabo para Iphone', 'teclado']

In [ ]:
# Método pop() remove o elemento pelo índice
descarte.pop(0)
print(descarte)

['mouse', 'cabo para Iphone', 'teclado']

In [ ]:
print(descarte)

['mouse', 'cabo para Iphone', 'teclado']

In [ ]:
# Método reverse() inverte a ordem da lista
descarte.reverse()
print(descarte)

['teclado', 'cabo para Iphone', 'mouse']

In [ ]:
# Método copy() retorna uma cópia da lista
descarte_bkp = descarte.copy()
descarte_bkp

['teclado', 'cabo para Iphone', 'mouse']

In [ ]:
# Concatenação de listas

lista1 = [0, 1, 2, 3, 4]
lista2 = [10, 11, 12, 13, 14]

lista_oficial = lista1 + lista2
lista_oficial

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

## **Estrutura de dados - Tuplas**

*  São imutáveis: uma vez criadas, não podemos alterar
*  São ordenáveis: elas mantêm uma ordem especifica com acesso via índice
* Permite heterogeneidade: podem conter elementos de diversos tipos
* Sintaxe simples: para uma criar uma tupla usamos parênteses.

In [ ]:
# Criando uma tupla
nomes = ('Fran', 'Bel', 'Bela')
pesos = (51, 15, 40)
alturas = (1.65, 1.81, 1.78)

In [ ]:
# acessando elementos dentro das tuplas
print(f'{nomes[0]} tem {pesos[0] } kg e {alturas[0]} metros')

Fran tem 51 kg e 1.65 metros

In [ ]:
# Transformando listas em tuplas
produtos = ['teclado', 'mouse', 'monitor', 'placa-mãe']
print(type(produtos))

<class 'list'>

In [ ]:
# convertendo lista em tupla
produtos = tuple(produtos)
print(type(produtos))

<class 'tuple'>

In [ ]:
# convertendo tupla em lista
produtos = tuple(produtos)
print(type(produtos))

produtos = list(produtos)
print(type(produtos))

<class 'tuple'>
<class 'list'>

## **Estrutura de dados - Dicionários**

*  Estrutura Chave-valor: Cada elemento no dicionário consiste em uma chave associada a um valor
*  Mutabilidade: Diferentemente das tuplas, os dicionários são MUTÁVEIS. Isso significa que você pode adicionar, remover ou modificar elementos em um dicionário após sua criação.
*  Chaves únicas: As chaves em um dicionários são únicas, garantindo que não existam chaves duplicadas.

In [ ]:
# Criando e armazenando em um dicionário as informações de nome, idade, peso e altura

funcionario = {'nome':'Franciane',
               'idade': 34,
               'altura': 1.65,
               'peso': 51}
print(funcionario)

{'nome': 'Franciane', 'idade': 34, 'altura': 1.65, 'peso': 51}

In [ ]:
# acessando valor da chave
print(funcionario['nome'])
print(funcionario['idade'])
print(funcionario['altura'])
print(funcionario['peso'])

Franciane
34
1.65
51

In [ ]:
# Outra forma de acessar valor no meu dicionário
print(funcionario.get('nome'))
print(funcionario.get('idade'))
print(funcionario.get('altura'))
print(funcionario.get('peso'))

Franciane
34
1.65
51

In [ ]:
# Vamos fazer uma lista dentro de um dicionário
dicionario_lista = {'nome': 'Franciane',
                    'idade': 34,
                    'animais':['Bel','Bia','Bela','Kika'],
                    'idades':[13, 7, 4, 7]
                    }
print(dicionario_lista)

{'nome': 'Franciane', 'idade': 34, 'animais': ['Bel', 'Bia', 'Bela', 'Kika'], 'idades': [13, 7, 4, 7]}

In [ ]:
# Métodos importantes
# Utilize os métodos keys() e values()
# Serve para obter todas as chaves ou valores do dicionário

chaves = dicionario_lista.keys()
print(chaves)

valores = dicionario_lista.values()
print(valores)

dict_keys(['nome', 'idade', 'animais', 'idades'])
dict_values(['Franciane', 34, ['Bel', 'Bia', 'Bela', 'Kika'], [13, 7, 4, 7]])

In [ ]:
# Declarar um dicionário
pessoa = {'nome': 'Joaquim da Silva',
          'telefone': '(11)33333-3333',
          'cpf': '000.000.000-00'
          }

# Coloca o nome da chave
print(pessoa['nome'])
print(pessoa['telefone'])
print(pessoa['cpf'])

Joaquim da Silva
(11)33333-3333
000.000.000-00

In [ ]:
# Exemplo 2: Lista dentro do dicionário
telefones = ['(11)9.0000-0000', '(21)9.0000-0000', '(31)9.0000-0000']

telefones = {'sp':['(11)9.0000-0000', '(11)9.0000-0001','(11)9.0000-0002'],
             'rj':'(21)9.0000-0000',
             'mg': '(31)9.0000-0000' }

# Informação pela chave
print(telefones['sp'])

['(11)9.0000-0000', '(11)9.0000-0001', '(11)9.0000-0002']

In [ ]:
# Depois colocarei na aula de lista
# Criando uma lista
lista = ['cris', 'ro']

# Adicionando uma lista de itens ao final da lista
lista.extend(['ana', 'marcos', 'carina'])

# Imprimindo a lista
print(lista)

['cris', 'ro', 'ana', 'marcos', 'carina']

## **Estrutura de Repetição: WHILE**

A estrutura while é uma das formas mais comuns de controle de fluxo em programação, permitindo que um bloco de código seja executado repetidamente enquanto uma condição especificada seja verdadeira. É crucial garantir que a condição eventualmente se torne falsa, pois, se não o fizer, seu programa ficará preso em um "loop infinito", consumindo recursos da máquina indefinidamente.

In [ ]:
'''
while condição:
    blocodecodigo1
'''

O while não possui um contador interno. Em vez disso, ele depende de uma condição para continuar ou interromper a repetição. Isso o torna muito flexível e útil.

In [ ]:
'''
i = 1, 0 , -1 ou outros (inicio da contagem, também chamada de váriável de indexação ou controle)
while condição (normalmente um operador relacional com a condição de parada):
    bloco de codigo enquanto a condição é verdadeira
    operadores de atribuição
'''

In [ ]:
# O while necessita de um contador
# O while precisa ser incrementado ou decrementado
'''
5
4
3
2
1
'''

contagem = 5                      # é da onde eu inicio
while contagem > 0:               # condição parada
    print(contagem)               # imprimir na tela: fazer algo
    contagem -= 1                 # como?
    #contagem = contagem - 1

5
4
3
2
1

In [ ]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [ ]:
# Validando informações do usuário
numero_secreto = 42
palpite = 0
tentativas = 0

while palpite != numero_secreto:
    palpite = int(input('Adivinhe o numero secreto. Escreva aqui: '))
    tentativas += 1
    # tentativa = tentativa + 1

print(f'Parabéns! Você acertou em {tentativas} tentativas o número secreto!')

Adivinhe o numero secreto. Escreva aqui: 8
Adivinhe o numero secreto. Escreva aqui: 10
Adivinhe o numero secreto. Escreva aqui: 42
Parabéns! Você acertou em 3 tentativas o número secreto!

In [ ]:
# Pedir para o usuário digitar um número positivo!
# Se o usuário digitar um número que não seja positivo de um recado
# "Solicita ao usuário que insira um número positivo"

numero = float(input('Digite um numero positivo: '))

# Continua solicitando entrada até que o número seja positivo
while numero <= 0:
    numero = float(input('O numero não é positivo! Eu quero um número positivo: '))

# Quando um número positivo é inserido, exibe uma mensagem
print("Temos um número positivo! Show de bolinha")

Digite um numero positivo: -1
O numero não é positivo! Eu quero um número positivo: -9
O numero não é positivo! Eu quero um número positivo: -100
O numero não é positivo! Eu quero um número positivo: -1000
O numero não é positivo! Eu quero um número positivo: 1
Temos um número positivo! Show de bolinha

**Controle de Estoque**

* Problema: Você precisa controlar o estoque de um determinado produto. O estoque inicial é de 100 unidades. A cada venda realizada, você precisa atualizar o estoque restante até que o estoque seja zerado.

In [ ]:
# Boas vindas
print("Bem-vindo ao sistema de controle de estoque.")

estoque_inicial = 100
continuar = True # Variável para controlar se o usuário quer continuar no sistema ou não.

# Enquanto ainda houver unidades no estoque e o usuário quiser continuar:
while estoque_inicial > 0 and continuar:
    venda = int(input("Quantas unidades foram vendidas? (Digite 0 para sair) "))

    # Se o usuário digitou 0, quer sair do sistema.
    if venda == 0:
        continuar = False
        print("Encerrando o sistema de controle de estoque.")

    # Se a quantidade de unidades vendidas for maior que o estoque disponível, avisa o usuário.
    elif venda > estoque_inicial:
         print("Não há unidades suficientes em estoque. Apenas", estoque_inicial, "unidades disponíveis.")

    # Caso contrário, subtrai a quantidade vendida do estoque e mostra o estoque restante.
    else:
        estoque_inicial -= venda # estoque_inicial = estoque_inicial - venda
        print("Venda realizada. Estoque restante:", estoque_inicial)


# Quando o estoque acabar, mostra uma mensagem indicando que não há mais unidades disponíveis.
if estoque_inicial == 0:
    print("Estoque zerado. Não há mais unidades disponíveis.")

Bem-vindo ao sistema de controle de estoque.
Quantas unidades foram vendidas? (Digite 0 para sair) 23
Venda realizada. Estoque restante: 77
Quantas unidades foram vendidas? (Digite 0 para sair) -1
Venda realizada. Estoque restante: 78
Quantas unidades foram vendidas? (Digite 0 para sair) 25
Venda realizada. Estoque restante: 53
Quantas unidades foram vendidas? (Digite 0 para sair) 52
Venda realizada. Estoque restante: 1
Quantas unidades foram vendidas? (Digite 0 para sair) 1
Venda realizada. Estoque restante: 0
Estoque zerado. Não há mais unidades disponíveis.

## **Estrutura de Repetição: FOR**

O loop for é uma estrutura de repetição que permite executar um bloco de código várias vezes. Ele é amplamente usado para percorrer elementos em sequências, como listas, tuplas e strings. O loop for é uma escolha natural quando você sabe quantas vezes deseja repetir uma ação.

In [ ]:
'''
for variável in sequência:
    bloco de codigo a ser repetido
'''

In [ ]:
# Exemplo comparativo: Imprima na tela os números de 0 a 9 com while e for

In [ ]:
# Usando While
i = 0
while i < 10:
    print(i)
    i += 1

In [ ]:
# A função range poderá ter até 3 argumentos (valores)
# for i in range (inicio_do_contador, condição_de_parada, incremento ou decremento)
# Range em ingles significa faixa

# 1° Forma
# utilizando o range com apenas um argumento - condição de parada com incremento 1 por padrão (default)
for i in range(10):
    print(i)

In [ ]:
# 2° Forma
# utilizando o range com apenas 2 argumentos (valores)
# inicio da contagem e a condição de parada
for i in range(0, 10):
  print(i)

In [ ]:
# 3° Forma
# utilizando o range com apenas 3 argumentos
# inicio da contagem, condição de parada e incremento

for i in range(0, 10, 1):
  print(i)

In [ ]:
# 4° forma: exemplo de iteração de string

palavra = 'Python'
for i in palavra:
    print(i)

In [ ]:
# 5° forma: exemplo de iteração de tupla
tupla = (10, 20, 30, 40, 50)
for i in tupla:
    print(i)

In [ ]:
# 6° forma: exemplo de iteração com listas
alunos = ['Erika', 'Lidiane', 'Rosangela', 'Victor Gabriel']
for aluno in alunos:
    print(aluno)

In [ ]:
# 7° forma: exemplo de iteração com dicionários

frutas = {'maça': 3,
          'banana': 5,
          'laranja': 10,
          'pêra': 2
         }

for chave, valor in frutas.items():
    print(f'{chave}:{valor}')

In [ ]:
# 8º forma: Calculando a soma dos numeros de 1 a 10:
soma = 0
for i in range(1, 11):
    soma += i                                   # soma = soma + i
print("A soma dos números de 1 a 10 é:", soma)

## **Recapitulando**

In [ ]:
'''
Crie um programa que receba do usuário cinco valores de notas (0 - 10)
calcule a média,
informe o usuário a média aritmética dos valores informados.
Método de resolução sem estruturas
'''
n1 = float(input('Informe a 1ª nota de 0 a 10: '))
n2 = float(input('Informe a 2ª nota de 0 a 10: '))
n3 = float(input('Informe a 3ª nota de 0 a 10: '))
n4 = float(input('Informe a 4ª nota de 0 a 10: '))
n5 = float(input('Informe a 5ª nota de 0 a 10: '))

media = (n1+n2+n3+n4+n5)/5

print(f'A média aritmética dos valores informados é {media:.2f}')

In [ ]:
g'''
Crie um programa que receba do usuário n valores de notas (0 - 10)
calcule a média e
informe o usuário a média aritmética dos valores informados
Método de resolução com while
'''
# Cria a lista vazia que receberá as notas
notas = []

# Cria a variável contadora (inicial) que deverá ser atualizada a cada novo input do usuários
c = 0

# cria a variável que o usuário informará a qtde de notas a ser inserida no sistema
qtde = float(input('Informe a quantidade de notas que deseja inserir no sistema: '))

while c < qtde: # cria a condição para o laço ser executado
  notas.append(float(input(f'Informe a {c+1}ª nota: '))) # cria o input com cada nota e as insere na lista notas criada anteriormente
  c += 1 # Atualiza a variável contadora a cada novo input

# Calcula a média aritmética das notas
media = sum(notas)/len(notas) # metodo sum: soma todos os valores

# Imprime a média
print(f'A média aritmética dos valores informados é {media:.2f}')

In [ ]:
'''
Crie um programa que receba do usuário n valores de notas (0 - 10)
calcule a média e informe o usuário a média aritmética dos valores informados
Método de resolução com for
'''
# recebe todas as notas em um único input
dados = input('Informe as notas separadas por espaços: ')
print(type(dados))

# Vamos colocar em uma lista via split
notas = dados.split()
#print(type(notas))
#print(notas)
#print(type(notas[0]))

# Vamos fazer uma conversão de dados de str para float via for
for cada_nota in range(len(notas)):
    notas[cada_nota] = float(notas[cada_nota])

# Verificação de que as notas foram convertidas
print(type(notas[0]))

# Calcula a média aritmética das notas
media = sum(notas)/len(notas)

# Imprime a média
print(f'A média aritmética dos valores informados é {media:.2f}')

## **Funções**

Funções são trechos de programa que recebem um determinado nome e podem ser chamadas várias vezes durante sua execução.

Das vantagens:
*  Reutilização de código
*  Modularidade
*  Facilidade de Manutenção do sistema

In [ ]:
# 1. Função sem parâmetro e sem retorno
def mensagem():
    print('Olá pessoas!')

In [ ]:
# Chamando minha função
mensagem()

In [ ]:
# Modo que aprendemos a fazer cálculos
a = 5
b = 7
somar = a + b
print(somar)

In [ ]:
# 2. Funçao com passagem de parâmetro com cálculo
def somar(a, b):
    print(a + b)

In [ ]:
# chamando nossa função
somar(1,2)
somar(5,7)

# Lembrete: parâmetro é variável dentro de uma função
#           argumento é número atribuido na variável dentro da função.

In [ ]:
# Funçao com passagem de parametro e retorno (Recomendável)
def somar(a, b):
    return a + b

In [ ]:
somar(7,8)

In [ ]:
# Função com calculos
def formula_epg(m,h,g=10):
    '''
    Calcula energia potencial gravitacional
    parametros
    m = massa, entrada como uma variável float
    h = altura, entrada como uma variável float

    Parametro opcional
    g: aceleração gravitacional com valor padrão 10
    '''
    e = m*g*h
    return e

In [ ]:
# Chamando função
formula_epg(30,12,10)

In [ ]:
formula_epg(85,3,9.8)